body {
    font-family: sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #31cce0;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.messages-container {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
} 
.email{
    border-radius: 2px;
}



h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #31cce0;
    color: white;
}

td {
    background-color: #f9f9f9;
}

p {
    text-align: center;
    color: #555;
}
